In [2]:
import sys
import seaborn as sns
import numpy as np
import matplotlib as mpl
import pandas as pd
import matplotlib.pyplot as plt
import time

In [3]:
pd.set_option('display.max_rows', 10000000000)
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 10)
np.set_printoptions(threshold=sys.maxsize)
sns.set_theme(style="darkgrid")

In [70]:
class plotfuncs():

  def __init__(self):
    self.x_data = "s"
    self.y_data = "k"
    self.rating = "r"
    self.level = "level"
    self.action = "action"
    
  def lineplot(self,data,xsize,ysize):
    f, ax = plt.subplots(figsize=(xsize, ysize))
    sns.lineplot(x=self.x_data, y=self.y_data,
                hue=self.level, style=self.action,
                data=data)

  def boxplot(self,data,xsize,ysize):
    f, ax = plt.subplots(figsize=(xsize, ysize))
    ax.set_xscale("log")
    sns.boxplot(x=self.rating, y=self.level, data=data,
                whis=[0, 100], width=.6, palette="vlag")

    sns.stripplot(x=self.rating, y=self.level, data=data,
                  size=4, color=".3", linewidth=0)

    ax.xaxis.grid(True)
    ax.set(ylabel="")
    sns.despine(trim=True, left=True)

plotfunctions = plotfuncs()

In [8]:
df = pd.read_csv("toobig.csv").iloc[:,1:]

In [9]:
def eachSec(num):
  return len(df[df['r']>=num][df['r']<num+1])

In [10]:
w = np.arange(1.0,2999.0,1.0)
er = []
for i in w:
  a = eachSec(i)
  er.append([i,a])

<ipython-input-9-03dd9a0469ee>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  return len(df[df['r']>=num][df['r']<num+1])

In [22]:
countDF = pd.DataFrame(er,columns=['r_interval','count'])

In [76]:
countDF.head(10)

,r_interval,count
0,1.0,498667
1,2.0,499083
2,3.0,499250
3,4.0,499334
4,5.0,499381
5,6.0,499411
6,7.0,499430
7,8.0,499444
8,9.0,499455
9,10.0,499455

In [13]:
def getFea(df,num):
  data = df[df['r']>=num][df['r']<num+1.0]
  return data

In [63]:
def g(df):
  return df[df['r']<0.0]

In [69]:
fd=getFea(df,1.0)
# fd=g(df)
a=sorted(fd['s'].unique())
print(a[0],a[-1])
c=sorted(fd['k'].unique())
print(c[0],c[-1])
previous = a[0]
b=np.arange(a[0],a[-1]+1.0,1.0)
for i in range(len(a)):
  for h in range(len(b)):
    if i == h:
      if i != 0:
        previous = a[i-1]
      if a[i] != previous + 1:
        print(a[i],previous)
previous = c[0]
d=np.arange(c[0],c[-1]+1.0,1.0)
for e in range(len(c)):
  for t in range(len(d)):
    if e == t:
      if e != 0:
        previous = c[e-1]
      if previous + 1 != c[e]:
        print(c[e],d[t],previous)

<ipython-input-13-5d16ba0e03be>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data = df[df['r']>=num][df['r']<num+1.0]

34.0 999.0
100.0 2996.0
34.0 34.0
100.0 100.0 100.0

In [75]:
# 485 hist mo 35